.cart .order-wrapper .order .order-price-wrapper .price-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    columns: rgba(68, 68, 68, 1);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.delimiter {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
    font-size: 14px;
    line-height: 24px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(68, 68, 68, 1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total {
    border-bottom: none;
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total .price {
    font-family: Josefin Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}